ComexWS.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.comex.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.comex.com.br/" name="ComexWsService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.comex.com.br/" schemaLocation="http://localhost:8080/ComexWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="adicionaNovaCategoria">
<part name="parameters" element="tns:adicionaNovaCategoria"></part>
</message>
<message name="adicionaNovaCategoriaResponse">
<part name="parameters" element="tns:adicionaNovaCategoriaResponse"></part>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"></part>
</message>
<message name="listarProduto">
<part name="parameters" element="tns:listarProduto"></part>
</message>
<message name="listarProdutoResponse">
<part name="parameters" element="tns:listarProdutoResponse"></part>
</message>
<message name="adicionaNovoCliente">
<part name="parameters" element="tns:adicionaNovoCliente"></part>
</message>
<message name="adicionaNovoClienteResponse">
<part name="parameters" element="tns:adicionaNovoClienteResponse"></part>
</message>
<message name="listarCategorias">
<part name="parameters" element="tns:listarCategorias"></part>
</message>
<message name="listarCategoriasResponse">
<part name="parameters" element="tns:listarCategoriasResponse"></part>
</message>
<message name="listaTodosClientes">
<part name="parameters" element="tns:listaTodosClientes"></part>
</message>
<message name="listaTodosClientesResponse">
<part name="parameters" element="tns:listaTodosClientesResponse"></part>
</message>
<portType name="ComexWs">
<operation name="adicionaNovaCategoria">
<input wsam:Action="http://ws.comex.com.br/ComexWs/adicionaNovaCategoriaRequest" message="tns:adicionaNovaCategoria"></input>
<output wsam:Action="http://ws.comex.com.br/ComexWs/adicionaNovaCategoriaResponse" message="tns:adicionaNovaCategoriaResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws.comex.com.br/ComexWs/adicionaNovaCategoria/Fault/SQLException"></fault>
</operation>
<operation name="listarProduto">
<input wsam:Action="http://ws.comex.com.br/ComexWs/listarProdutoRequest" message="tns:listarProduto"></input>
<output wsam:Action="http://ws.comex.com.br/ComexWs/listarProdutoResponse" message="tns:listarProdutoResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws.comex.com.br/ComexWs/listarProduto/Fault/SQLException"></fault>
</operation>
<operation name="adicionaNovoCliente">
<input wsam:Action="http://ws.comex.com.br/ComexWs/adicionaNovoClienteRequest" message="tns:adicionaNovoCliente"></input>
<output wsam:Action="http://ws.comex.com.br/ComexWs/adicionaNovoClienteResponse" message="tns:adicionaNovoClienteResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws.comex.com.br/ComexWs/adicionaNovoCliente/Fault/SQLException"></fault>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://ws.comex.com.br/ComexWs/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://ws.comex.com.br/ComexWs/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws.comex.com.br/ComexWs/listarCategorias/Fault/SQLException"></fault>
</operation>
<operation name="listaTodosClientes">
<input wsam:Action="http://ws.comex.com.br/ComexWs/listaTodosClientesRequest" message="tns:listaTodosClientes"></input>
<output wsam:Action="http://ws.comex.com.br/ComexWs/listaTodosClientesResponse" message="tns:listaTodosClientesResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws.comex.com.br/ComexWs/listaTodosClientes/Fault/SQLException"></fault>
</operation>
</portType>
<binding name="ComexWsPortBinding" type="tns:ComexWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="adicionaNovaCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarProduto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="adicionaNovoCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listaTodosClientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="ComexWsService">
<port name="ComexWsPort" binding="tns:ComexWsPortBinding">
<soap:address location="http://localhost:8080/ComexWS"></soap:address>
</port>
</service>
</definitions>